.detale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.detale .detale__form {
  padding: 33px 82px 57px 60px;
  margin: 121px 0 0;
  background: url(../img/detale__form-bg.png);
  width: 100%;
}

.detale .detale__form-title {
  margin-bottom: 35px;
}

.detale .detale__form-characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detale .detale__form-characters-img {
  width: 40%;
  height: 100%;
}

.detale .detale__form-characters-table {
  width: 42.2%;
  border-collapse: collapse;
  margin-right: 70px;
}

.detale .detale__form-characters-table tr {
  border: 1px solid #ffffff;
}

.detale .detale__form-characters-table tr td:last-child {
  position: relative;
}

.detale .detale__form-characters-table tr td:last-child::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 22px;
  width: 1px;
  background-color: white;
  left: 0px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.detale .detale__form-characters-table td {
  padding: 11px 0 7px 32px;
  border-bottom: 1px solid #ffffff;
}

.detale .detale__form-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.detale .detale__form-buy-nal {
  margin: 43px 0 17px;
  color: #acacac;
}

.detale .detale__form-buy-btn {
  display: block;
  padding: 12px 31px;
  font-size: 24px;
  -webkit-box-shadow: 0px 4px 10px 5px #00000040;
          box-shadow: 0px 4px 10px 5px #00000040;
  border: 2px solid white;
  margin-right: 108px;
}

.detale .detale__form-buy-btn:hover {
  -webkit-box-shadow: 0 0 40px 40px white inset;
          box-shadow: 0 0 40px 40px white inset;
  color: black;
}

.detale .detale__form-about {
  margin: 33px 0 11px;
}

.detale .recomendation {
  text-align: center;
  padding-top: 60px;
}

.detale .recomendation__title {
  margin-bottom: 40px;
}

.detale .recomendation .swiper-container {
  padding-bottom: 70px;
  margin-bottom: 100px;
  width: 70vw;
}

@media (max-width: 992px) {
  .detale .recomendation .swiper-container {
    width: 90vw;
  }
}

.detale .recomendation .swiper-container .katalog__row-item {
  width: 75%;
  margin: 0;
}

@media (max-width: 992px) {
  .detale .recomendation .swiper-container .katalog__row-item {
    margin: 0;
  }
}

.detale .recomendation .swiper-container .katalog__row-item .item__img {
  height: 8vw;
}

.detale .recomendation .swiper-container .swiper-pagination {
  bottom: 0;
}

.detale .recomendation .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border: 2px solid white;
}

.detale .recomendation .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: white;
}
