.katalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.katalog .content__right-title {
  margin: 40px 0 7px 11px;
}

.katalog .content__right-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40%;
}

.katalog .content__right-row .katalog__row-item {
  width: 23%;
  margin: 0 42px 20px;
}

.katalog .content__right-row .katalog__row-item .item__img {
  height: 8vw;
}

@media (max-width: 1200px) {
  .katalog .content__right-row .katalog__row-item .item__img {
    height: 9vw;
  }
}

@media (max-width: 992px) {
  .katalog .content__right-row .katalog__row-item .item__img {
    height: 14vw;
  }
}

@media (max-width: 767px) {
  .katalog .content__right-row .katalog__row-item .item__img {
    height: 20vw;
  }
}

@media (max-width: 576px) {
  .katalog .content__right-row .katalog__row-item .item__img {
    height: 23vw;
  }
}

@media (max-width: 1200px) {
  .katalog .content__right-row .katalog__row-item {
    width: 27%;
    margin: 0 20px 55px;
  }
}

@media (max-width: 767px) {
  .katalog .content__right-row .katalog__row-item {
    width: 40%;
  }
}

@media (max-width: 767px) {
  .katalog .content__right-row .katalog__row-item {
    width: 47%;
    margin: 0 4px 20px;
  }
}
