$maxWidth: 1920;

@mixin adaptiv-font($pcSize, $mobSize, $line) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media (max-width: 414px) {
    font-size: #{$mobSize + px};
    line-height: #{$mobSize + px}*#{$line};
  }
  @media (min-width: 415px) {
    font-size: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 414px) / #{$maxWidth})
    );
    line-height: calc(
      (#{$mobSize + px} + #{$addMobSize} * ((100vw - 414px) / #{$maxWidth})) *#{$line}
    );
  }

  @media (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    line-height: calc((#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}))) *#{$line};
  }
  @media (min-width: 1920px) {
    font-size: #{$pcSize + px};
    line-height: #{$pcSize + px} *#{$line};
  }
}

.basket{
	.container{
		padding:0 75px 0 62px;
		@media(max-width:1200px){
			padding:0 35px;
		}
		@media(max-width:992px){
			padding: 0 13px;
		}
	}
	width:100%;
	display: flex;
	.content__right-title{
		@include adaptiv-font (48,18,1.2);
		margin: 40px 0 16px ;
	}
	table{
		width:100%;
		border-spacing: 0px 26px;
		.produkt{
			margin-left: 85px;
			
		}
	}
	.table__header{
		font-size: 24px;
		td{
			padding-bottom: 43px;
			
		}
		.list__header-left{
			margin-left: 85px;
			@media(max-width:1200px){
				margin-left:30px;
			}
		}
		.list__header-right-pay{
			padding-left: 30px;
		}
	}
	.table__item{
		box-shadow: 0px 4px 10px 5px #00000040;
		padding:32px 20px 32px 32px;
		width:95%;
		margin-bottom: 26px;
		img{
			width:100%;
		}
		td{
			padding:32px;
			@media(max-width:1200px){
				padding:10px;
			}
			@media(max-width:576px){
				padding:5px;
			}
		}
		.list__item-img{
			width:100%;
		}
		.list__item-name{
			@include adaptiv-font(16,9,1.2);
		}
		.list__item-pay{
			
			@include adaptiv-font(18,12,1.2);
		}
		.kol{
			width:15%;
		}
		.list__item-kol{
			@include adaptiv-font(24,12,1.2);
		}
		.list__item-delete{
			img{
				width:25px;
				height:25px;
				@media(max-width:992px){
					width:7px;
					height:7px;
				}
			}
		
		}
	}
	.content__right-btns{
		display:flex;
		justify-content: space-between;
		margin-top: 41px;
		@media(max-width:992px){
			margin-top: 0;
		}
		.btns-left{
			display: block;
			padding:20px 25px;
			border:1px solid white;
			box-shadow: 0px 4px 10px 5px #00000040;
			@include adaptiv-font(24,10,1.2);
			height:max-content;
			margin-top: 48px;
			@media(max-width:992px){
				padding:7px;
				margin-top: 38px;
			}
		}
		.btns-promo{
			width:39%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			@media(max-width:1200px){
				width:47%;
			}
			@media(max-width:992px){
				display: none;
			}
		}
		.promo{
			background: #848484;
			color:white;
			box-shadow: 0px 4px 10px 5px #00000040 inset;
			height:60px;
			width:100%;
			margin-bottom: 17px;
			&::placeholder{
				color:white;
				text-align: center;
				font-size: 24px;
			}
			
		}
		.complete{
			display: flex;
			font-size: 24px;
			align-items: center;
			&__img{
				margin-right: 9px;
			}
			
		}
	}
	.content__right-buy{
		margin:73px 109px 0 auto;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-bottom: 50vw;
		@media(max-width:1200px){
			margin:73px 40px 30vw auto;
		}
		@media(max-width:992px){
			margin:34px 5px 30vw auto;
		}
		&-text{
			
			display: inline-flex;
			align-items: center;
			.buy__itog{
				display: block;
				@include adaptiv-font(24,14,1.2);
				margin-right: 102px;
				@media(max-width:992px){
					margin-right: 44px;
				}
			}
			.buy__pay{
				display: block;
				@include adaptiv-font(36,18,1.2);
				
			}
		}
		.buy__btn{
			margin-top: 37px;
			display: inline-block;
			padding:20px 100px;
			border:1px solid white;
			@include adaptiv-font(24,14,1.2);
			@media(max-width:992px){
				margin-top: 16px;
				padding:10px 40px;
			}
			
		}
	}
}